<!-- CTA section -->
<div class="bg-gradient-to-t from-<%= @default_color %>-50 to-white">
  <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:py-24 lg:px-8 lg:flex lg:items-center lg:justify-between">
    <h2 class="text-3xl font-extrabold tracking-tight text-<%= @default_color %>-900 sm:text-4xl">
      <span class="block">Ready to dive in?</span>
      <span class="block text-<%= @default_color %>-500">Start your free trial today.</span>
    </h2>
    <div class="mt-8 flex lg:flex-shrink-0 lg:mt-0">
      <div class="inline-flex rounded-md shadow">
        <a href="#" class="bg-<%= @default_color %>-500 border border-transparent rounded-md py-3 px-5 inline-flex items-center justify-center text-base font-medium text-white hover:bg-<%= @default_color %>-400">
          Get started
        </a>
      </div>
    </div>
  </div>
</div>
