<!-- This example requires Tailwind CSS v1.4.0+ -->
<div x-data="{ mobileOpen: false }" class="relative bg-<%= @default_color %>-50 top-0 z-20">
  <div class="w-full flex justify-center items-center space-x-20 py-8">
    <div class="space-x-4">
      <a href="/blog" class="nav-btn bg-<%= @default_color %>-50 <%= 'active' if action_name == 'blog' %>">Blog</a>
      <a href="/manifesto" class="nav-btn bg-<%= @default_color %>-50 <%= 'active' if action_name == 'manifesto' %>">Manifesto</a>
    </div>
    <div class="">
      <h1 class="text-3xl font-bold"><a href="/">N</a></h1>
    </div>
    <div class="space-x-4">
      <a href="/pricing" class="nav-btn bg-<%= @default_color %>-50 <%= 'active' if action_name == 'pricing' %>">Pricing</a>
      <a href="/about" class="nav-btn bg-<%= @default_color %>-50 <%= 'active' if action_name == 'about' %>">About</a>
    </div>
  </div>
  <div class="absolute right-0 inset-y-0 flex items-center pr-24">
      <a href="#" class="transition duration-300 ease-in-out text-sm font-medium text-<%= @default_color %>-600 border border-<%= @default_color %>-200 rounded-full px-8 py-3 bg-<%= @default_color %>-50 hover:bg-<%= @default_color %>-200">Login</a>
  </div>
</div>
