<!-- This example requires Tailwind CSS v1.4.0+ -->
<div x-data="{ mobileOpen: false, showTitle: false }" class="relative bg-<%= @default_color %>-50 top-0 z-20">
  <div class="w-full flex justify-center items-center sm:space-x-6 lg:space-x-12 py-6 md:py-8">
    <div class="hidden md:block space-x-4">
      <a href="/blog" class="nav-btn bg-<%= @default_color %>-50 <%= 'active' if action_name == 'blog' %>">Blog</a>
      <a href="/manifesto" class="nav-btn bg-<%= @default_color %>-50 <%= 'active' if action_name == 'manifesto' %>">Manifesto</a>
    </div>
    <a href="/" @mouseover="showTitle = true" @mouseout="showTitle = false" class="w-24 text-center">
      <h1 class="md:hidden text-3xl font-bold">Nocial</h1>
      <div class="hidden md:block text-3xl font-bold relative h-8">
        <p class="absolute inset-0 transition duration-300 ease-in-out" :class="{ 'transform -translate-x-8 text-<%= @default_color %>-500': showTitle }">N</p>
        <p 
          x-show="showTitle"
          x-transition:enter="duration-300 ease-out"
          x-transition:enter-start="opacity-0 scale-95"
          x-transition:enter-end="opacity-100 scale-100"
          x-transition:leave="duration-300 ease-in"
          x-transition:leave-start="opacity-100 scale-100"
          x-transition:leave-end="opacity-0 scale-95"
          class="ml-6"
        ><span class="text-<%= @default_color %>-500">o</span>cial</p>
      </div>
    </a>
    <div class="hidden md:block space-x-4">
      <a href="/pricing" class="nav-btn bg-<%= @default_color %>-50 <%= 'active' if action_name == 'pricing' %>">Pricing</a>
      <a href="/about" class="nav-btn bg-<%= @default_color %>-50 <%= 'active' if action_name == 'about' %>">About</a>
    </div>
  </div>
  <div class="absolute right-0 inset-y-0 hidden md:flex items-center md:pr-8 lg:pr-24">
    <% if user_signed_in? %>
      <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-login text-#{@default_color}-600 border-#{@default_color}-200 bg-#{@default_color}-50 hover:bg-#{@default_color}-200" %>
    <% else %>
      <%= link_to "Login", new_user_session_path, class: "nav-login text-#{@default_color}-600 border-#{@default_color}-200 bg-#{@default_color}-50 hover:bg-#{@default_color}-200" %>
    <% end %>
  </div>
  <div class="absolute right-0 inset-y-0 md:hidden flex items-center pr-6">
    <i class="fas fa-bars text-2xl cursor-pointer" @click="mobileOpen = !mobileOpen"></i>
  </div>
  
  <div
    x-show="mobileOpen"
    @click.away="mobileOpen = false"
    x-transition:enter="duration-200 ease-out"
    x-transition:enter-start="opacity-0 scale-95"
    x-transition:enter-end="opacity-100 scale-100"
    x-transition:leave="duration-100 ease-in"
    x-transition:leave-start="opacity-100 scale-100"
    x-transition:leave-end="opacity-0 scale-95"
    class="absolute top-0 inset-x-0 p-2 transition transform origin-top-right md:hidden"
  >
    <div class="rounded-lg shadow-lg">
      <div class="rounded-lg shadow-xs bg-white divide-y-2 divide-gray-50">
        <div class="pt-5 pb-6 px-5 space-y-6">
          <div class="flex items-center justify-between">
            <div>
              <h1 class="text-3xl font-bold"><a href="/">Nocial</a></h1>
            </div>
            <div class="-mr-2">
              <button @click="mobileOpen = !mobileOpen" type="button" class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 focus:text-gray-500 transition duration-150 ease-in-out">
                <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"/>
                </svg>
              </button>
            </div>
          </div>
        </div>
        <div class="py-6 px-5 space-y-6">
          <div class="flex flex-wrap justify-between items-center">
            <a href="/blog" class="nav-btn hover:text-<%= @default_color %>-500">Blog</a>
            <a href="/manifesto" class="nav-btn hover:text-<%= @default_color %>-500">Manifesto</a>
            <a href="/pricing" class="nav-btn hover:text-<%= @default_color %>-500">Pricing</a>
            <a href="/about" class="nav-btn hover:text-<%= @default_color %>-500">About</a>
            <%= link_to "Login", new_user_session_path, class: "hidden sm:inline nav-login text-#{@default_color}-600 border-#{@default_color}-200 bg-#{@default_color}-50 hover:bg-#{@default_color}-200" %>
          </div>
          <div class="sm:hidden">
            <%= link_to "Login", new_user_session_path, class: "block text-center nav-login text-#{@default_color}-600 border-#{@default_color}-200 bg-#{@default_color}-50 hover:bg-#{@default_color}-200" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
